body {
  background-color: #f5f5f5;
  background-image: url("./../images/light-mesh.png");
  overflow-y: hidden;
  overflow-x: hidden;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    margin-right: 2em;
    margin-top: 2em;

}

/* Animated svg */
svg {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}

svg path, svg polygon {
	fill-opacity: 0;
	fill: #a2a2a2 !important;
	stroke: #aaaaaa;
	stroke-width: 1;
	stroke-dasharray: 3319;
	stroke-dashoffset: 23319;
	animation-name: draw;
	animation-duration: 13s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

svg #Shadows__x28_positive_x29_ path, svg #Shadows__x28_positive_x29_ polygon {
	animation-delay: 4s;
}

@keyframes draw {
	90% {
		stroke-dashoffset: 0;
		stroke-width: 2;
		fill-opacity: 0;
	}

	100% {
		stroke-width: 0;
		fill-opacity: .1;
	}
}
